BODY {
	padding: 1em;
}
INPUT#wordCount {
	display: inline-block;
	width: 4em;
	text-align: right;
}
BUTTON {
	margin: 0 0 0 1em;
}
H2 {
	font-size: 1.1em;
}
SPAN#loginMsg {
	display: inline;
	padding-left: 1em;
}
DIV#deviceAndFilters {
	display: none;
}
DIV.checkbox-list {
	display: inline-block;
	vertical-align: top;
}
DIV.checkbox-list P {
	font-weight: 700;
}
DIV.checkbox-list DIV.checkbox {
	display: block;
}
